.landing-page {
    background-image: url(../images/backgrounds/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    width: 100%;
    color: whitesmoke;
    text-align: center;
}
#mouse {
    animation: mouse 3s infinite;
    margin-top: 3%;
}
#logo {
    margin-top: 14%;
}